html {
    background-image: url('https://i.pinimg.com/originals/5c/03/da/5c03da8971db5da45a4d7be7a1db2c59.jpg');
}

header {
    text-align: center;
}

.SW {
    height: 50px;
    width: auto;
}
#buttons {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.players {
    height: 100px;
    width: 150px;
    background: white;
    padding: 15px;
    border: 3px solid greenyellow;
    border-radius: 10px;
}

h1 {
    font-size: 30px;
    font-family: "Oswald";;
}
#character {
    color: white;
    border: 3px solid rgb(205, 179, 7);
    background: black;
    width: 500px;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    border-radius: 25px;
    overflow: auto;
    padding: 10px;
}

.chars {
    height: 100px;
    width: 150px;
    background: black;
    padding: 15px;
    border: 3px solid yellow;
    border-radius: 10px;
    margin: 2px;
}

#enemiesChar {
    color: white;
    border: 3px solid rgb(205, 179, 7);
    background: black;
    width: 800px;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    border-radius: 25px;
    overflow: auto;
    padding: 10px;
    margin-top: 20px;
}
.enemies {
    height: 100px;
    width: 150px;
    background:black;
    padding: 15px;
    border: 3px solid red;
    border-radius: 10px;
    margin: 2px;
}

.attacker {
    height: 100px;
    width: 150px;
    background:black;
    padding: 15px;
    border: 3px solid blue;
    border-radius: 10px;
    margin: 2px;
}

#attacker {
    color: white;
    border: 3px solid rgb(205, 179, 7);
    background: black;
    width: 800px;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    border-radius: 25px;
    overflow: auto;
    padding: 10px;
    margin-top: 20px;
}
.text {
    color: red;
    font-size: 32px;
    line-height: 16px; 
    margin: 20px 0px;
    font-family: 
}

#charChose{
 color: white;
 background: black;
 width: 600px;
 text-align: center;
 align-content: center;
 margin: 0 auto;
 border-radius: 25px;
 overflow: auto;
 padding: 5px;
 margin-top: 10px; 
 margin-top: 80px;
 text-align: center;
 margin-bottom: 40px;
}